*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 18px;
    line-height: 24px;
    color: #000;
    font-family: Helvetica, Arial, sans-serif;
    
}
h2{
    font-size: 36px;
    line-height: 38px;
    font-weight: 800;
}
.navbar-nav {
    gap: 20px;
}
.navbar-expand-lg .navbar-nav .nav-link{
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    background: #9d9d9d;
    text-transform: capitalize;
    padding: 10px 20px;
    border-radius: 20px;
    display: inline-block;    
}
.cart-btn{
    gap: 10px;
    display: flex;
}
.cart-btn a{
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    background: #9d9d9d;
    text-transform: capitalize;
    padding: 10px 30px;
    border-radius: 20px;
    display: inline-block;
    text-decoration: none;
    min-width: 104px;
    text-align: center;
}
.top-bar-text span{
    color: #9d9d9d;
}
.top-bar-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-bar-info {
    gap: 15px;
    display: flex;
    align-items: center;
}
.social-icon ul {
    display: flex;
    gap: 10px;
}
.social-icon ul li a{
    display: inline-block;
    text-decoration: none;
}
.social-icon ul li a i{
    width: 32px;
    height: 32px;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    background: #f52922;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-main-con {
    padding:20px 0;
}
.input-block input{
    border: 0;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    padding: 12px 40px 12px 20px;
    border-radius: 20px;

    background: #f6261c url(../public/images/search-icon.png) no-repeat 90% 42%;
}
.input-block input:focus{
    outline: none;
}
.input-block input::placeholder{
    color: #fff;
    font-size: 16px;
    line-height: 16px;
}
.advertise-banner{
    margin-bottom: 24px;
}
.advertise-banner img{
    width: 100%;
    height: auto !important;
    object-fit: cover;
}
.discover-con{
    padding: 50px 0;
}
.discover-title{
    text-align: center;
}
.discover-title p{
    font-size: 24px;
    line-height: 30px;
    color: #000;
    padding: 0 200px;
}
.discover-title h2{
    color: #f52922;
    margin-bottom: 48px;
    text-transform: uppercase;
}
.discover-box {
    gap: 30px;
    display: grid;
    margin-bottom: 50px;
    grid-template-columns: 35% 35%;
    justify-content: space-between;
}
.discover-box + p,.categories-box + p{
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 0;
    padding: 0 130px;
}
.discover-box-item figure {
    width: 154px;
    height: 154px;
    flex-shrink: 0;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.discover-box-content h3{
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.discover-box-content p{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}
.discover-box-content span{
    font-size: 14px;
    font-weight: 700;
}
.discover-box-item{
    display: flex;
    gap: 30px;
}
.categories-con h2{
    color: #f52922;
    margin-bottom: 48px;
    text-transform: uppercase;
    text-align: center;
}
.categories-box{
    gap: 30px;
    display: grid;
    margin-bottom: 50px;
    grid-template-columns: repeat(4,23.3%);
}
.categories-box-item a{
    width: 100%;
    color: #fff;
    font-size: 20px;
    line-height: 22px;
    display: inline-block;
    padding: 20px 20px;
    background: #9d9d9d;
    text-align: center;
    text-decoration: none;
}
.categories-box-item {
    display: flex;
}
.categories-box-item a:hover{
    background: #f52922;
}
.categories-con{
    padding-bottom: 50px;
}
.footer-con{
    background: #fe0000;
}
.footer-box {
    gap: 80px;
    display: grid;
    grid-template-columns: 30% 30% 28%;
}
.footer-logo,.sitemap{
    padding: 50px 0;
    border-right:4px solid #fff;
}
.footer-logo a{
    display: inline-block;
    margin-bottom: 20px;
}
.footer-logo p{
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    padding-right: 90px;
}
.sitemap h4{
    color: #fff;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
}
.sitemap p{
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}
.sitemap ul li a{
    color: #fff;
    text-decoration: none;
}
.contact-info{
    border-right: 0;
}
.footer-social {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}
.footer-social li a i{
    font-size: 20px;
}
.contact-info small a{
    color: #fff;
    text-decoration: none;
}
.contact-con{
    padding: 100px 0;
    position: relative;
    background: url("../public/images/contact-bg-img.jpg") no-repeat center;
    background-size: cover;
}
.contact-con::after{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    background: rgb(254 0 0 / 50%);
}
.contact-con .container{
    z-index: 1;
    position: relative;
}
.contact-title{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.contact-title h3{
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 20.9px;
    line-height: 48px;
    margin-bottom: 30px;
}
.contact-title span{
    font-size: 36px;
    letter-spacing: 20.9px;
    font-weight: 600;
    margin-bottom: 60px;
}
.contact-title h2{
    font-size: 52px;
    font-weight: 800;
    line-height: 48px;
    margin-bottom: 60px;
}
.main-contact-form{
    gap: 20px;
    display: flex;
}
.main-contact-form ul{
    gap: 20px;
    margin-bottom: 0;
    display: flex;
    width: 93%;
}
.main-contact-form ul li{
    width: 100%;
}
.main-contact-form ul li input{
    width: 100%;
    border: none;
    padding: 23px 20px;
    background: #fff;
}
.main-contact-form ul li input:focus,.search-btn:focus{
    outline: none;
}
.search-btn {
    border: none;
    height: 70px;
    width: 70px;
    background: #9d9d9d;
    color: #fff;
    font-size: 24px;
}