*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 18px;
    line-height: 24px;
    color: #000;
    font-family: Helvetica, Arial, sans-serif;
    
}
h2{
    font-size: 36px;
    line-height: 38px;
    font-weight: 800;
}
.navbar-nav {
    gap: 20px;
}
.navbar-expand-lg .navbar-nav .nav-link{
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    background: #9d9d9d;
    text-transform: capitalize;
    padding: 10px 20px;
    border-radius: 20px;
    display: inline-block;    
}
.cart-btn{
    gap: 10px;
    display: flex;
}
.cart-btn a{
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    background: #9d9d9d;
    text-transform: capitalize;
    padding: 10px 30px;
    border-radius: 20px;
    display: inline-block;
    text-decoration: none;
    min-width: 104px;
    text-align: center;
}
.top-bar-text span{
    color: #9d9d9d;
}
.top-bar-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-bar-info {
    gap: 15px;
    display: flex;
    align-items: center;
}
.social-icon ul {
    display: flex;
    gap: 10px;
}
.social-icon ul li a{
    display: inline-block;
    text-decoration: none;
}
.social-icon ul li a i{
    width: 32px;
    height: 32px;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    background: #f52922;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-main-con {
    padding:20px 0;
}
.input-block input{
    border: 0;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    padding: 12px 40px 12px 20px;
    border-radius: 20px;

    background: #f6261c url(../public/images/search-icon.png) no-repeat 90% 42%;
}
.input-block input:focus{
    outline: none;
}
.input-block input::placeholder{
    color: #fff;
    font-size: 16px;
    line-height: 16px;
}
.advertise-banner{
    margin-bottom: 24px;
}
.advertise-banner img{
    width: 100%;
    height: auto !important;
    object-fit: cover;
}
.discover-con{
    padding: 50px 0;
}
.discover-title{
    text-align: center;
}
.discover-title p{
    font-size: 24px;
    line-height: 30px;
    color: #000;
    padding: 0 200px;
}
.discover-title h2{
    color: #f52922;
    margin-bottom: 48px;
    text-transform: uppercase;
}
.discover-box {
    gap: 30px;
    display: grid;
    margin-bottom: 50px;
    grid-template-columns: 35% 35%;
    justify-content: space-between;
}
.discover-box + p,.categories-box + p{
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 0;
    padding: 0 130px;
}
.discover-box-item figure {
    width: 154px;
    height: 154px;
    flex-shrink: 0;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.discover-box-content h3{
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.discover-box-content p{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}
.discover-box-content span{
    font-size: 14px;
    font-weight: 700;
}
.discover-box-item{
    display: flex;
    gap: 30px;
}
.categories-con h2{
    color: #f52922;
    margin-bottom: 48px;
    text-transform: uppercase;
    text-align: center;
}
.categories-box{
    gap: 30px;
    display: grid;
    margin-bottom: 50px;
    grid-template-columns: repeat(4,23.3%);
}
.categories-box-item a{
    width: 100%;
    color: #fff;
    font-size: 20px;
    line-height: 22px;
    display: inline-block;
    padding: 20px 20px;
    background: #9d9d9d;
    text-align: center;
    text-decoration: none;
}
.categories-box-item {
    display: flex;
}
.categories-box-item a:hover{
    background: #f52922;
}
.categories-con{
    padding-bottom: 50px;
}