/* RESPONSIVE */
@media only screen and (max-width: 1440px) {
    .top-bar-text span {
        font-size: 24px;
    }
    .contact-title h3 {
        font-size: 40px;
        letter-spacing: 16.9px;
    }
    .contact-title span {
        font-size: 32px;
        letter-spacing: 16px;
        margin-bottom: 50px;
    }
    .contact-title h2 {
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 50px;
    }
    .main-contact-form ul li input {
        padding: 20px 20px;
    }
    .search-btn {
        height: 64px;
        width: 64px;
    }
    .contact-con {
        padding: 80px 0;
    }
    .discover-box {
        grid-template-columns: 38% 38%;
    }
    .footer-box {
        gap: 70px;
    }
    .main-contact-con {
        padding: 80px 0;
    }
    .offer-banner-list {
        margin-bottom: 40px;
    }
    .offer-list2 li {
        font-size: 20px;
        line-height: 20px;
    }
    .contact-btn a {
        font-size: 20px;
        line-height: 20px;
        padding: 17px 40px;
    }
    .offer-banner-title h1 {
        margin-bottom: 40px;
    }
    .bussiness-card-con h2 {
        font-size: 40px;
        letter-spacing: 6.2px;
        margin-bottom: 40px;
    }
    .bussiness-card-item h4 {
        margin-bottom: 20px;
        font-size: 28px;
    }
    .bussiness-card-content {
        padding: 20px;
    }
}
@media only screen and (max-width: 1199px) {
    .top-bar-text span {
        font-size: 20px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 16px;
        line-height: 16px;
        padding: 10px 12px;
    }
    .header-con .navbar>.container-fluid{
        align-items: flex-end;
    }
    .contact-title h3 {
        font-size: 38px;
        letter-spacing: 11px;
    }
    .contact-title span {
        font-size: 30px;
        letter-spacing: 12px;
        margin-bottom: 30px;
    }
    .contact-title h2 {
        font-size: 44px;
        line-height: 44px;
        margin-bottom: 40px;
    }
    .contact-con {
        padding: 70px 0;
    }
    .discover-title p {
        font-size: 22px;
        line-height: 30px;
        padding: 0 140px;
    }
    .discover-box {
        grid-template-columns: 45% 45%;
    }
    .discover-box-content h3 {
        font-size: 26px;
        line-height: 26px;
    }
    .discover-box+p, .categories-box+p {
        padding: 0 70px;
    }
    .footer-box {
        gap: 50px;
        grid-template-columns: 37% 32% 20%;
    }
    .footer-logo p {
        padding-right: 50px;
    }
    .sitemap h4 {
        margin-bottom: 20px;
        font-size: 22px;
        line-height: 22px;
    }
    form.main-contact-box {
        width: 80%;
        padding: 40px;
    }
    .main-contact-title p {
        margin-bottom: 40px;
    }
    .offer-banner {
        padding: 110px 0;
    }
    .offer-banner-title {
        width: 68%;
    }
    .offer-banner-title h1 {
        margin-bottom: 30px;
    }
    .offer-banner-title span {
        font-size: 28px;
        line-height: 28px;
        margin-bottom: 40px;
    }
    .offer-list2 {
        margin-bottom: 40px;
    }
    .development-title h2 {
        margin-bottom: 20px;
    }
    .development-title>span {
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 30px;
    }
    .development-title p {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 40px;
    }
    .development-box {
        grid-template-columns: repeat(4, 23.4%);
    }
    .development-box-item h4 {
        font-size: 18px;
        line-height: 20px;
    }
    .development-con {
        padding: 70px 0;
    }
    .services-box-content h4 {
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 25px;
    }
    .services-box {
        grid-template-columns: 29% 35% 29%;
        gap: 20px;
    }
    .services-box-item img {
        height: 240px;
    }
    .categories-con h2 {
        margin-bottom: 38px;
    }
    .help-con {
        padding: 185px 0;
    }
    .testimonials-title p {
        font-size: 34px;
        line-height: 36px;
    }
    .testimonials-con {
        padding: 80px 0;
    }
    .bussiness-card-con {
        padding: 80px 0;
    }
    .bussiness-card-con h2 {
        font-size: 38px;
        letter-spacing: 5.2px;
        margin-bottom: 30px;
    }
    .bussiness-card-content ul li {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 20px;
    }
    .bussiness-card-box + p {
        font-size: 22px;
        line-height: 33px;
        width: 74%;
    }
    .bussiness-card-content:before, .bussiness-card-content:after{
        display: none;
    }
}
@media only screen and (max-width: 991px) {
    .advertise-banner img{
        height: 100% !important;
    }
    .header-main-con {
        padding: 20px 0 10px;
    }
    .contact-title h3 {
        font-size: 30px;
        letter-spacing: 6px;
        margin-bottom: 20px;
    }
    .contact-title span {
        font-size: 26px;
        letter-spacing: 5px;
        margin-bottom: 26px;
    }
    .contact-title h2 {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 30px;
    }
    .main-contact-form ul li input {
        padding: 14px 20px;
    }
    .search-btn {
        height: 52px;
        width: 52px;
    }
    .search-btn i{
        font-size: 20px;
    }
    .discover-title p {
        font-size: 20px;
        line-height: 28px;
        padding: 0;
    }
    h2 {
        font-size: 32px;
        line-height: 34px;
    }
    .discover-title h2 {
        margin-bottom: 44px;
    }
    .discover-box-item {
        gap: 15px;
    }
    .discover-box-item figure {
        width: 134px;
        height: 134px;
    }
    .discover-box {
        grid-template-columns: 48% 48%;
    }
    .discover-box+p, .categories-box+p {
        padding: 0;
    }
    .discover-con {
        padding: 40px 0;
    }
    .categories-con h2 {
        margin-bottom: 38px;
    }
    .categories-box {
        gap: 15px;
        margin-bottom: 30px;
    }
    .categories-box-item a {
        font-size: 18px;
        line-height: 22px;
    }
    .footer-logo, .sitemap {
        padding: 30px 0;
    }
    .footer-logo p {
        padding-right: 0;
    }
    .footer-box {
        gap: 30px;
        grid-template-columns: 40% 27% 26%;
    }
    .sitemap h4 {
        font-size: 20px;
        line-height: 22px;
    }
    /*  */
    .header-con .navbar-toggler {
        right: 0;
        padding: 0;
        bottom: 13px;
        width: 24px;
        border: none;
        z-index: 999;
        position: absolute;
    }
    .header-con .navbar-toggler-icon{
        float: left;
        width: 100%;
        height: 2px;
        margin: 3px 0;
        background: #f6261c;
    }
    .header-con .navbar-toggler:focus{
        box-shadow: none;
        outline: none;
    }
    .header-con .navbar-toggler .navbar-toggler-icon:nth-child(1),
    .header-con .navbar-toggler .navbar-toggler-icon:nth-child(3) {
    -webkit-transition: transform .35s ease-in-out;
    -moz-transition: transform .35s ease-in-out;
    -o-transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
    }
    .header-con .navbar-toggler:not(.collapsed) .navbar-toggler-icon:nth-child(1) {
    position: absolute;
    top:8px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    left: 0px;
    }
    .header-con .navbar-toggler:not(.collapsed) .navbar-toggler-icon:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
    }
    .header-con .navbar-toggler:not(.collapsed) .navbar-toggler-icon:nth-child(3) {
    position: absolute;
    top:8px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    left: 0px;
    }
    .header-con .navbar-collapse.collapse, .navbar-collapse.collapsing {
        width: 100%;
        right: 0;
        top: 120px;
        z-index: 999;
        position: absolute;
        background: #fff;
        border: 1px solid rgb(157 157 157 / 22%);
        border-radius: 10px;
    }
    .header-con .navbar-expand-lg .navbar-nav .nav-link {
        padding: 5px;
        background: transparent;
        color: #9d9d9d;
        display: block;
    }
    .header-con .navbar-nav {
        gap: 0;
    }
    .header-con .nav-item {
        padding: 5px 20px;
    }
    .cart-btn {
        padding-right: 40px;
    }
    .cart-btn a {
        font-size: 14px;
        line-height: 14px;
        padding: 10px 20px;
        min-width: 94px;
    }
    .main-contact-con {
        padding: 60px 0;
    }
    .main-contact-title h2 {
        font-size: 32px;
        line-height: 32px;
    }
    .main-contact-box ul li textarea {
        height: 130px;
    }
    form.main-contact-box {
        width: 100%;
    }
    .main-form-btn button {
        font-size: 20px;
        line-height: 20px;
        padding: 12px 30px 14px;
    }
    .offer-banner-title {
        width: 100%;
    }
    .offer-banner-title h1 {
        margin-bottom: 28px;
        font-size: 36px;
        line-height: 40px;
    }
    .offer-banner-title span {
        margin-bottom: 34px;
    }
    .contact-btn a {
        font-size: 18px;
        line-height: 18px;
    }
    .development-box {
        grid-template-columns: repeat(2, 48%);
    }
    .services-box-content {
        grid-column: 1 / -1;
    }
    .services-box {
        grid-template-columns: 48% 48%;
        gap: 20px;
        justify-content: center;
    }
    .services-box-content {
        grid-column: 1 / -1;
        order: 3;
    }
    .categories-box-item {
        display: flex;
        width: 100%;
    }
    .categories-box {
        flex-direction: column;
    }
    .help-con {
        padding: 125px 0;
    }
    .info-btn a {
        padding: 16px 50px;
    }
    .testimonials-title {
        width: 76%;
    }
    .testimonials-title:before {
        right: -70px;
    }
    .testimonials-title:after{
        left: -70px;
    }
    .testimonials-title p {
        font-size: 32px;
    }
    .testimonials-title span {
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 20px;
    }
    .testimonials-title:after, .testimonials-title:before {
        font-size: 44px;
        width: 70px;
        height: 70px;
    }
    .testimonials-con {
        padding: 60px 0;
    }
    .bussiness-card-con h2 {
        font-size: 34px;
        margin-bottom: 30px;
    }
    .bussiness-card-item h4 {
        margin-bottom: 20px;
        font-size: 24px;
    }
    .bussiness-card-box {
        gap: 30px;
        flex-wrap: wrap;
    }
    .bussiness-card-item {
        width: 47.7%;
    }
    .bussiness-card-box + p {
        font-size: 20px;
        line-height: 30px;
        width: 100%;
    }
    .bussiness-card-con {
        padding: 50px 0;
    }
    .bussiness-card-con h2 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .transport-banner-box {
        grid-template-columns: 48% 48%;
    }
    .company-logo {
        grid-column: 1 / -1;
    }
    .professional-item-content span {
        width: 100%;
    }
    .advertisement-rt-box h4{
        font-size: 26px;
        line-height: 26px;
    }
    .professional-item {
        padding: 20px;
    }
    .professional-item ul {
        grid-template-columns: 49% 49%;
    }
}
@media only screen and (max-width: 767px) {
    .top-bar-text span {
        font-size: 18px;
    }
    .input-block input {
        padding: 10px 30px 10px 10px;
    }
    .contact-con {
        padding: 60px 0;
    }
    .contact-title h3 {
        font-size: 26px;
        letter-spacing: 4px;
        line-height: 30px;
    }
    .contact-title span {
        font-size: 24px;
        letter-spacing: 2px;
    }
    .contact-title h2 {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 26px;
    }
    .main-contact-form ul {
        gap: 10px;
    }
    .main-contact-form {
        gap: 10px;
    }
    .discover-title p {
        font-size: 18px;
        line-height: 26px;
    }
    .discover-title h2 {
        margin-bottom: 34px;
    }
    h2 {
        font-size: 30px;
        line-height: 32px;
    }
    .discover-box-item {
        gap: 15px;
        flex-direction: column;
    }
    .discover-box-content h3 {
        font-size: 24px;
    }
    .categories-con h2 {
        margin-bottom: 28px;
    }
    .categories-box {
        grid-template-columns: repeat(2, 48%);
    }
    .discover-box+p, .categories-box+p {
        font-size: 16px;
        line-height: 22px;
    }
    .categories-con {
        padding-bottom: 40px;
    }
    .footer-box {
        gap: 30px;
        grid-template-columns: 100%;
    }
    .footer-logo, .sitemap {
        padding: 0;
        border-right: none;
    }
    .footer-con {
        padding: 30px 0;
    }
    .top-bar-text,.top-bar-info .input-block {
        display: none;
    }
    .top-bar-box {
        justify-content: center;
    }
    .main-contact-box ul li label {
        font-size: 16px;
        line-height: 16px;
    }
    form.main-contact-box {
        padding: 20px;
    }
    .main-contact-title h2 {
        font-size: 30px;
        line-height: 30px;
    }
    .main-contact-title p {
        margin-bottom: 30px;
        font-size: 20px;
    }
    .offer-banner {
        padding: 70px 0;
    }
    .offer-banner-title h1 {
        margin-bottom: 18px;
        font-size: 32px;
        line-height: 38px;
    }
    .offer-banner-title span {
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 24px;
    }
    .offer-banner-list {
        margin-bottom: 30px;
    }
    .offer-list2 li {
        font-size: 18px;
        line-height: 20px;
    }
    .contact-btn a {
        font-size: 16px;
        line-height: 16px;
        padding: 14px 30px;
    }
    .development-con {
        padding: 50px 0;
    }
    .development-title h2 {
        font-size: 26px;
        line-height: 30px;
    }
    .development-title p {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 30px;
    }
    .services-box-content h4 {
        font-size: 26px;
        line-height: 28px;
        margin-bottom: 15px;
    }
    .services-box-content ul li {
        font-size: 20px;
        line-height: 20px;
    }
    .help-con {
        padding: 100px 0;
    }
    .info-btn a {
        padding: 12px 40px 14px;
        font-size: 20px;
        line-height: 20px;
    }
    .help-title h4 {
        font-size: 32px;
        line-height: 34px;
        margin-bottom: 20px;
    }
    .help-title p {
        margin-bottom: 40px;
    }
    .testimonials-title p {
        font-size: 28px;
    }
    .testimonials-title:after, .testimonials-title:before {
        font-size: 36px;
        width: 50px;
        height: 50px;
    }
    .testimonials-title:before {
        right: -40px;
    }
    .testimonials-title:after {
        left: -40px;
    }
    .testimonials-title p {
        font-size: 26px;
    }
    .bussiness-card-box {
        gap: 23px;
    }
    .bussiness-card-content ul li {
        font-size: 14px;
        line-height: 22px;
    }
    .bussiness-card-item h4 {
        font-size: 22px;
    }
    .bussiness-card-content ul {
        padding-left: 15px;
    }
    .bussiness-card-box + p {
        font-size: 18px;
        line-height: 28px;
    }
    .services-box-content {
        padding-left: 0;
    }
    .professional-box {
        gap: 15px;
        grid-template-columns: 100%;
    }
    .advertisement-box {
        gap: 15px;
        grid-template-columns: 100%;
    }
    .advertisement-box-con {
        padding-bottom: 30px;
    }
    .professional-item ul {
        grid-template-columns: 100%;
        gap: 15px;
    }
}
@media only screen and (max-width: 575px) {
    .bussiness-card-content{
        height: auto;
    }
    .professional-item-box {
        gap: 10px;
        flex-direction: column;
        text-align: center;
    }
    .professional-item ul li a figure {
        width: auto;
        height: auto;
    }
    .top-bar-con{
        display: none;
    }
    .contact-con {
        padding: 50px 0;
    }
    .contact-title h3 {
        font-size: 24px;
        letter-spacing: 2px;
        line-height: 30px;
    }
    .contact-title span {
        font-size: 20px;
        letter-spacing: 0;
    }
    .main-contact-form ul {
        gap: 10px;
        width: 100%;
        flex-direction: column;
    }
    .main-contact-form {
        gap: 10px;
        flex-direction: column;
    }
    .search-btn {
        height: 52px;
        width: 100%;
    }
    h2 {
        font-size: 28px;
        line-height: 30px;
    }
    .discover-box {
        grid-template-columns: 100%;
        text-align: center;
    }
    .discover-box-item figure {
        margin: 0 auto;
    }
    .navbar{
        padding: 0;
    }
    .header-main-con {
        padding: 10px 0;
    }
    .cart-btn a:first-child {
        display: none;
    }
    .cart-btn {
        position: relative;
        top: -10px;
    }
    .cart-btn a {
        font-size: 14px;
        line-height: 14px;
        padding: 8px 12px;
        min-width: auto;
    }
    .main-form-btn button {
        font-size: 16px;
        line-height: 16px;
        padding: 9px 30px 12px;
    }
    .main-contact-title p {
        margin-bottom: 26px;
        font-size: 18px;
    }
    .offer-banner {
        padding: 50px 0;
    }
    .offer-banner-title h1 {
        font-size: 26px;
        line-height: 28px;
    }
    .offer-list2 {
        margin-bottom: 30px;
    }
    .development-title h2 {
        font-size: 22px;
        line-height: 28px;
    }
    .development-box {
        grid-template-columns: 100%;
    }
    .services-box-item img {
        height: 150px;
    }
    .services-box-content h4 {
        font-size: 22px;
        line-height: 26px;
    }
    .services-box-content ul li {
        font-size: 18px;
    }
    .categories-con h2 {
        font-size: 22px;
    }
    .help-title h4 {
        font-size: 30px;
        line-height: 32px;
    }
    .help-title p {
        margin-bottom: 30px;
        font-size: 20px;
        line-height: 22px;
    }
    .testimonials-title:after, .testimonials-title:before{
        display: none;
    }
    .testimonials-title {
        width: 100%;
    }
    .testimonials-title p {
        font-size: 22px;
        line-height: 28px;
    }
    .testimonials-title span {
        font-size: 18px;
        line-height: 20px;
    }
    .bussiness-card-con h2 {
        font-size: 28px;
        margin-bottom: 28px;
        letter-spacing: 0;
    }
    .bussiness-card-item {
        width: 100%;
    }
    .bussiness-card-box {
        gap: 15px;
        margin-bottom: 20px;
    }
   
    .advertise-banner figure {
        height: 190px;
    }
    .betainos-banner {
        padding: 0 10px;
    }
    .company-social-info .social-icon ul {
        justify-content: center;
    }
    .transport-banner-box {
        grid-template-columns: 100%;
        gap: 0;
        text-align: center;
    }
    .company-social-info .social-icon {
        margin-bottom: 20px;
    }
    .company-info h4 {
        margin-bottom: 16px;
        font-size: 26px;
        line-height: 26px;
    }
    .company-logo {
        margin-bottom: 15px;
    }
    .transport-banner-box+p {
        font-size: 18px;
        line-height: 24px;
    }
    .transport-banner {
        padding: 66px 0 30px;
    }
    .professional-item {
        padding: 20px;
    }
}